 <% include ../header.ejs %>
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <table class="table table-bordered">
            <tr>
                <th>제목</th>
                <td><input type="text" class="form-control" value="<%=post.title%>" name="title" /></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><input type="text" class="form-control" value="<%=post.content%>" name="content" /></td>
            </tr>
        </table>
        <div>
            <button class="btn btn-primary">작성하기</button>
        </div>
    </form>
<% include ../footer.ejs %>